ion-content {
    --background: var(--ion-color-dark) url('../../../assets/imgs/wall.jpg') no-repeat center center/cover;
}

ion-list {
    // transform: translateY(15vh);
    background: transparent;
    img {
        height: 20vh;
        margin-bottom: 8vh;
    }
    // ion-list-header {
    //   margin-bottom: 15vh;
    //   letter-spacing: 3px;
    //   ion-label {
    //     font-weight: bold;
    //     font-size: 3rem;
    //     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    //   }
    // }
    ion-button {
        font-weight: bold;
        text-transform: none;
        margin: 2vh;
    }
    p {
        font-size: 0.9rem;
    }
}

img {
    height: 5vh;
    margin-bottom: 1vh;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: auto;
    width: 50px;
    justify-content: center;
}

.adminTitle {
    color: white;
    font-weight: 700;
}


/* General styles */

.background-container {
    position: relative;
    width: 100%;
    height: 100%;
    // background: url('assets/img/background.jpg') no-repeat center center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-filter {
    background-color: rgba(0, 0, 0, 0.6);
    /* Black background with transparency */
    padding: 2rem;
    border-radius: 15px;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.logo {
    margin-bottom: 2rem;
}

.logo ion-img {
    width: 100px;
    height: auto;
    margin-top: 1rem;
}

.logo-bottom img {
    width: 150px;
    height: auto;
    margin-top: 3rem;
}


/* Responsive styles */

@media (min-width: 768px) {
    .background-filter {
        width: 70%;
    }
    .logo ion-img {
        width: 150px;
    }
    .logo-bottom img {
        width: 200px;
    }
}

@media (min-width: 1024px) {
    .background-filter {
        width: 50%;
    }
}
