<ion-content [fullscreen]="true">

  <div class="background-container">
    <div class="background-filter">
      <div class="logo">
        ADMIN DASHBOARD
        <ion-img src="assets/img/images1/money.png"></ion-img>
      </div>

    <ion-list class="ion-no-margin ion-text-center">
      <ion-button expand="block" shape="round" color="light" [routerLink]="['/login']">LOGIN</ion-button>
      <ion-button expand="block" shape="round" color="light" [routerLink]="['/register']">REGISTER</ion-button>
    </ion-list>

    <div class="ion-margin ion-text-center" style="margin-top: 450px;">
      <img src="assets/imgs/logo.png" />
    </div>
  </div>
</div>


</ion-content>
