<div class="body1">
    <div class="gridimg">
        <ion-grid>
            <ion-row>
                <ion-col size="12" size-md="4" size-lg="3">
                    <ion-card [routerLink]="['/manage-students']" color="secondary">
                        <ion-card-header>
                            <ion-card-title>MANAGE STUDENTS</ion-card-title>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
                <ion-col size="12" size-md="4" size-lg="3">
                    <ion-card [routerLink]="['/manage-subjects']" color="secondary">
                        <ion-card-header>
                            <ion-card-title>MANAGE SUBJECTS</ion-card-title>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
                <ion-col size="12" size-md="4" size-lg="3">
                    <ion-card [routerLink]="['/manage-videos']" color="secondary">
                        <ion-card-header>
                            <ion-card-title>MANAGE VIDEOS AND BOOKS</ion-card-title>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
                <ion-col size="12" size-md="4" size-lg="3">
                    <ion-card [routerLink]="['/manage-sales-agent']" color="secondary">
                        <ion-card-header>
                            <ion-card-title>MANAGE SALES AGENTS</ion-card-title>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
                <ion-col size="12" size-md="4" size-lg="3">
                    <ion-card [routerLink]="['/credit-sales-agent']" color="secondary">
                        <ion-card-header>
                            <ion-card-title>CREDIT SALES AGENT</ion-card-title>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
                <ion-col size="12" size-md="4" size-lg="3">
                    <ion-card [routerLink]="['/shop']" color="secondary">
                        <ion-card-header>
                            <ion-card-title>MANAGE SHOP</ion-card-title>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
                <ion-col size="12" size-md="4" size-lg="3">
                    <ion-card [routerLink]="['/happenings']" color="secondary">
                        <ion-card-header>
                            <ion-card-title>Happenings</ion-card-title>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
                <ion-col size="12" size-md="4" size-lg="3">
                    <ion-card [routerLink]="['/live-tv']" color="secondary">
                        <ion-card-header>
                            <ion-card-title>Live TV</ion-card-title>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</div>
